<odoo>


    <record id="action_shipping_organization" model="ir.actions.act_window">
        <field name="name">Organizations</field>
        <field name="res_model">shipping.organization</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_shipping_organization"
              name="Organizations"
              parent="shipping.menu_shipping_root"
              action="action_shipping_organization"
              sequence="10"/>



    <record id="action_open_org_import_wizard" model="ir.actions.server">
        <field name="name">Import XLS</field>

        <field name="model_id" ref="model_shipping_organization"/>
        <field name="binding_model_id" ref="model_shipping_organization"/>
        <field name="binding_type">action</field>

        <field name="state">code</field>
        <field name="code">
action = {
    'type': 'ir.actions.act_window',
    'name': 'Import Organization',
    'res_model': 'organization.import.wizard',
    'view_mode': 'form',
    'target': 'new',
}
        </field>
    </record>

</odoo>
