<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <record id="action_sea_export_work_volume_wizard" model="ir.actions.act_window">
        <field name="name">Sea Export Work Volume</field>
        <field name="res_model">sea.export.work.volume.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <menuitem
        id="menu_sea_export_work_volume"
        name="Sea Export Work Volume"
        parent="shipping.menu_shipping_new_report"
        action="action_sea_export_work_volume_wizard"
        sequence="50"/>

</odoo>
